---
const { data } = Astro.props;

import "../styles/generel.css";
import "../styles/animations.css";
---

<article class="kasse" name={data.type}>
  <!-- Desktop start -->
  <a href={`/designs/${data.slug}`} class="grid1-1 hideDesktop">
    <div class="textcontainer">
      <h3>{data.title}</h3>
      <p>{data.description1} . .</p><p class="hyperlink">Read more . . .</p>
    </div>
    <div class="imagecontainer"><img src={data.image} alt={data.image_text} /></div>
  </a>
  <hr class="hideDesktop desktopline" />
  <!-- Desktop end -->

  <a href={`/designs/${data.slug}`} class="showMobile">
    <div class="mobileImageContainer">
      <div class="overlay">
        <div class="overlaycontent">
          <h2>{data.title}</h2>
          <hr class="overlayline" />
          <h3 class="year">{data.year}</h3>
        </div>
      </div>

      <img src={data.image} alt={data.image_text} />
    </div>
  </a>
  <hr class="showMobile mobileline" />
</article>

<style>
  h3 {
    transition: var(--unfocus);
    hyphens: auto;
  }

  a {
    text-decoration: none;
  }

  /* MOBILE VIEW */
  .showMobile {
    display: none;
  }

  .kasse {
    display: block;
    order: 0;
    height: auto;

    overflow-y: hidden;
    transition: var(--unfocus);

    scroll-snap-align: start;
  }

  .mobileImageContainer {
    display: grid;
    width: 60vw;
    height: 60vw;
    transition: var(--unfocus);
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 1.5px;

    border: solid rgba(145, 218, 148, 0) 1px;
  }

  .mobileImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 2px;
  }
  .showMobile img,
  .overlay {
    grid-area: 1/1;
  }

  .showMobile h3 {
    z-index: 1;
  }

  .focus .mobileImageContainer {
    width: 75vw;
    height: 75vw;

    transition: var(--focus);
  }
  .focus .mobileImageContainer img {
    filter: brightness(0.8);
    transition: var(--focus);
  }
  .mobileline {
    margin: 0.5rem auto 0.5rem auto;
    width: 8rem;
    border: 1.5px var(--body-contrast) solid;
  }
  .overlay {
    border-radius: 1.5px;
    display: none;
    transition: var(--unfocus);
  }
  .overlaycontent {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 0.5rem;
    transition: var(--focus);

    height: 60vw;

    padding-top: 2rem;
  }
  .overlaycontent h2 {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;

    word-break: break-all;
  }
  .focus .overlay {
    display: inline;

    background-color: var(--primary-35);
    z-index: 2;
  }
  .overlayline {
    border: 1.5px var(--body-contrast) solid;
    max-width: 1.5px;
  }

  /* årstal alt for stort */
  .year {
    text-align: left;
    padding-top: 280%;
    transform: rotate(90deg);

    /* text-align: left;
    padding-top: -50%;
    transform: rotate(-90deg);
    margin-bottom: 7rem; */
  }

  @media (max-width: 900px) {
    .hideDesktop {
      display: none;
    }

    .showMobile {
      display: inherit;
    }
  }

  @media (min-width: 900px) {
    .kasse {
      display: block;
      order: 0;
      height: auto;
      padding: 0.5rem;
      overflow-y: hidden;
      transition: var(--unfocus);
      scroll-snap-align: start;
    }
    .hideDesktop {
      filter: blur(1.3px);
    }
    .focus img {
      margin: -1rem;
      transition: var(--unfocus);
    }
    .focus:active img {
      margin: 0rem;
      transition: var(--focus);
    }
    .focus a {
      margin-top: 1rem;
    }
    .focus {
      filter: grayscale(0);
    }
    .focus .textcontainer,
    .imagecontainer {
      filter: blur(0);
    }
    .grid1-1 {
      display: grid;
      gap: 5rem;
      grid-template-columns: 1fr 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;

      transition: var(--unfocus);
    }

    .imagecontainer {
      width: 10vw;
      height: 10vw;
      transition: var(--unfocus);
      margin-top: auto;
      margin-bottom: auto;
      aspect-ratio: 1/1;
    }
    .imagecontainer img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 1/1;
      border-radius: 2px;
    }

    .textcontainer {
      margin-top: auto;
      margin-bottom: auto;
    }

    .desktopline {
      border: solid var(--body-contrast) 1px;
      width: 20vw;

      margin-right: auto;
      margin-left: auto;
      transition: var(--unfocus);
      border-radius: 2px;
    }

    /* kan ikke få til at virke */
    .focus .desktopline {
      margin-top: 2rem;
      transition: var(--focus);
      width: 40vw;
    }

    .focus h3 {
      font-size: 3rem;
      transition: var(--focus);
    }

    .focus {
      min-height: auto;
      transition: var(--focus);
      filter: grayscale(0%);
    }
    .focus .imagecontainer {
      width: 30vw;
      height: 20vw;
      margin: none;
      transition: var(--focus);
      border: 1px var(--body-contrast) solid;
      border-radius: 1.5px;
    }

    .odd {
      order: 1;
    }
    .odd h3 {
      text-align: right;
    }
    .odd p {
      text-align: right;
    }
    .even {
      margin-left: auto;
    }
  }
</style>

<script>
  /* Finde DESKTOP bokse*/
  const kasserDesktop = document.querySelectorAll(".hideDesktop");
  const observerDesktop = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        //tilføj klasse hvis i vinduet
        entry.target.classList.toggle("focus", entry.isIntersecting);
      });
    },
    { rootMargin: "-450px" }
  );
  kasserDesktop.forEach((kasse) => {
    observerDesktop.observe(kasse);
  });

  /* Finde  MOBILE bokse*/
  const kasserMobile = document.querySelectorAll(".showMobile");
  const observerMobile = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        //tilføj klasse hvis i vinduet
        entry.target.classList.toggle("focus", entry.isIntersecting);
      });
    },
    { rootMargin: "-270px" }
  );
  kasserMobile.forEach((kasse) => {
    observerMobile.observe(kasse);
  });
</script>

<script>
  //FÅET HJÆLP FRA CHAT GPT vvvvv-------------------------------vvvvv
  //Denne kode gør, at hver anden container bytter rundt på billede og tekst, samt skifter tekstens retning
  function addOddClassToEverySecond() {
    //definér konstant og select dom element
    const boxe = document.querySelectorAll(".textcontainer");

    // loop gennem kasserne med klassen .textcontainer
    //giv dem et index nummer; enten 1 eller 0
    for (let i = 0; i < boxe.length; i++) {
      //hvis de givne nummer er lig med 1, og ikke 0 - tilføj så klassen
      if (i % 2 !== 1) {
        boxe[i].classList.add("odd");
      }
    }
  }

  //spyt det ud
  addOddClassToEverySecond();
  console.log("addOddClassToEverySecond");
  //   -------------------------------------------------

  //Denne kode bruger vi til at placere billedet ud til kanten af containeren, men kun på hver første
  function addOddClassToEverySecondImg() {
    //definér konstant og select dom element
    const image = document.querySelectorAll(".imagecontainer");

    // loop gennem kasserne med klassen .textcontainer
    //giv dem et index nummer; enten 1 eller 0
    for (let i = 0; i < image.length; i++) {
      //hvis de givne nummer er lig med 1, og ikke 0 - tilføj så klassen
      if (i % 2 !== 0) {
        image[i].classList.add("even");
      }
    }
  }
  //spyt det ud
  addOddClassToEverySecondImg();
  console.log("addOddClassToEverySecondImg");
  //FÅET HJÆLP FRA CHAT GPT ^^^^^--------------------------------^^^^^
</script>

<style></style>
