---
const { data } = Astro.props;
console.log(data);
import "../styles/generel.css";
---

<article>
  <h2>{data.title}</h2>

  <p>{data.tal}</p>
  <p>{data.type} lighting</p>

  <img src={data.image} alt={data.image_text} height="200" width="200" />
  <a target="_blank" href={data.cta_link}></a>
</article>

<style>
  img {
    object-fit: cover;
    max-width: 20rem;
    aspect-ratio: 1/1;
  }
  article {
    border: black solid 1px;
    margin: 0.5rem;
  }
</style>
